* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  background-color: #000000;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
}

.sidebar-nav {
  background: rgb(18, 18, 18);
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 10px;
}

/* This sections is for Spotify Home and Search */
.sidebar-nav .logo {
  width: 120px;
}

.sidebar-nav .logo img {
  width: 100%;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav ul li {
  padding: 10px 20px;
}

.sidebar-nav ul li a {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 16px;
  font-weight: bold;
  margin-left: -4px; /* Might be removed */
}

.sidebar-nav ul li a:hover {
  color: aliceblue;
  font-size: 17px;
}

.sidebar-nav ul li a i {
  font-size: 20px;
  margin-right: 10px;
}

/* This section is for Spotify's Your Library */
.library::after {
  content: "+";
  float: right;
  font-weight: lighter;
  font-size: 24px;
}

.create-playlist,
.create-podcast {
  background: #2c2c2c;
  padding: 15px 10px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.sidebar-scroll {
  height: 120px;
  overflow-y: auto;
}

.sidebar-scroll::-webkit-scrollbar {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  width: 10px;
}

.sidebar-scroll:hover::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  width: 5px;
}

.create-playlist h4,
.create-podcast h4 {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.create-playlist p,
.create-podcast p {
  color: white;
  font-size: 12px;
  font-weight: bolder;
  margin: 12px 0px;
}

.create-playlist button,
.create-podcast button {
  margin: 10px 0px;
  padding: 8px 15px;
  /* If you don't use border 0 and outline 0 then a shade will appear here */
  border: 0;
  outline: 0;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 750;
}

.create-playlist button:hover,
.create-podcast button:hover {
  font-size: 16px;
}

/* This part is for Privacy - Policy */
.privacy ul li a {
  text-decoration: none;
  color: rgb(110, 110, 110);
  font-size: 11px;
  font-weight: 700;
  margin: 0 3px;
}

.privacy ul li a:hover {
  text-decoration: underline;
  color: rgb(215, 214, 214);
}

.privacy ul {
  list-style: none;
  margin-top: 10px;
}

.privacy ul li {
  padding: 0 15px;
  padding-bottom: 8px;
}

/* This part is for English button */
.eng-button {
  padding: 20px 30px;
}

.eng-button button {
  padding: 10px 30px;
  background: transparent;
  border: 0;
  outline: none;
  color: whitesmoke;
  border: 1px solid gray;
  border-radius: 20px;
}

.eng-button button:hover {
  padding: 11px 31px;
  border: 1px solid gray;
}
